/* ------------------------------------------------------------ *\
	Address
\* ------------------------------------------------------------ */

.address {
	line-height: 1.31;

	@include mobile {
		font-size: 1.4rem;
		line-height: 1.43;
	}

	p {
		margin-bottom: 0;
	}
}
