/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */

.hero {
	position: relative;
	min-height: calc(100vh - 16.5rem);

	@include tablet-portrait {
		min-height: calc(100vh - 55rem);
	}

	@include mobile {
		min-height: 20.5rem;
	}

	.hero__bg {
		@include bg;
	}

	.hero__image {
		max-width: 50.5%;
		flex: 0 0 50.5%;
		min-height: 56rem;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		@include tablet-portrait {
			max-width: 100%;
			flex: 0 0 100%;
		}

		@include mobile {
			min-height: 22rem;
		}
	}

	.hero__content {
		max-width: 50%;
		flex: 0 0 50%;
		display: flex;
		align-items: center;
		width: 100%;
		padding-left: 7.7rem;

		@include tablet-portrait {
			max-width: 100%;
			flex: 0 0 100%;
			padding: 4.5rem 2rem 4.4rem;
		}
	}

	.hero__title {
		font-weight: 500;
		letter-spacing: 0;
	}
}

.hero--alt {
	color: $white;
	min-height: 56rem;
	display: flex;

	.hero__title {
		font-size: 10rem;

		@include tablet-portrait {
			text-align: center;
			width: 100%;
		}

		@include mobile {
			font-size: 5rem;
		}
	}

	@include tablet-portrait {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		min-height: auto;
	}
}

.hero--small {
	min-height: 68.1rem;

	@include mobile {
		min-height: 22rem;
	}
}
