/* ------------------------------------------------------------ *\
	Link Language
\* ------------------------------------------------------------ */

.link-language {
	text-align: center;
	display: block;
	padding: 3.3rem 3rem;
	text-transform: uppercase;

	@include tablet-portrait {
		padding: 0;
		padding-right: 2rem;
	}

	span {
		color: #d7cec6;
		font-size: 24px;
		font-weight: 700;

		@include tablet-portrait {
			font-size: 18px;
		}
	}
}
