/* ------------------------------------------------------------ *\
	List partners alt
\* ------------------------------------------------------------ */

.list-partners-alt {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1.5rem -3.1rem;

	li {
		padding: 0 1.5rem 3.1rem;
		flex: 0 0 100%;
		max-width: 25%;

		@include tablet-portrait {
			max-width: 33.33%;
			flex: 0 0 33.33%;
		}

		@include mobile {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
}
