/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	color: #fff;
	text-decoration: none;
	font-family: 'Milestone', monospace;
	width: 23.9rem;
	height: 2.9rem;
	display: inline-block;
	font-size: 33px;
	text-align: center;

	&:hover {
		color: #fff;
	}

	@include tablet-portrait {
		width: 13.2rem;
		height: 1.6rem;
	}

	img {
		width: 100%;
		height: 100%;
		display: block;
	}
}

.logo--rotate {
	width: 100%;
}
