/* ------------------------------------------------------------ *\
	Section people
\* ------------------------------------------------------------ */

.section-people {
	padding: 9.1rem 0 3.5rem;

	@include mobile {
		padding: 4.3rem 0;
	}

	.section__head {
		text-align: center;
		max-width: 89.2rem;
		margin: 0 auto 9.5rem;

		@include mobile {
			text-align: left;
			margin-bottom: 4.3rem;
		}
	}

	.section__head p {
		font-size: 2.4rem;
		line-height: 1.25;
		letter-spacing: 0.01em;

		@include mobile {
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 1.38;
		}
	}
}
