/* ------------------------------------------------------------ *\
	Section About
\* ------------------------------------------------------------ */

.section-about {
	padding: 10.5rem 0;

	@include mobile {
		padding: 3.7rem 0;
	}

	.section__head {
		text-align: center;
		max-width: 95.9rem;
		margin: 0 auto 4.8rem;

		@include mobile {
			text-align: left;
			margin-bottom: 1rem;
		}
	}

	.section__title {
		margin-bottom: 2rem;
	}

	.section__subtitle {
		font-size: 2.2rem;
		line-height: 1.27;
		letter-spacing: 0.01em;

		@include mobile {
			font-size: 1.9rem;
		}
	}

	.section__entry {
		font-size: 1.8rem;
		line-height: 1.28;
		letter-spacing: 0.01em;

		@include mobile {
			font-size: 1.5rem;
			line-height: 1.4;
		}
	}

	.section__cols {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1.75rem;
	}

	.section__col {
		max-width: 100%;
		flex: 1;
	}

	.section__col--1of2 {
		max-width: 50%;
		flex: 0 0 50%;
		padding: 0 1.75rem;

		@include mobile {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	.section__actions {
		margin-top: 3.8rem;
	}
}
