/* ------------------------------------------------------------ *\
	Services alt
\* ------------------------------------------------------------ */

.services-alt {
	@include mobile {
		position: relative;
	}
	.services__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1.5rem -3.1rem;

		@include mobile {
			margin-bottom: -2.1rem;
		}
	}

	.services__item {
		max-width: 33.33%;
		flex: 0 0 33.33%;
		padding: 0 1.5rem 3.1rem;

		@include tablet-portrait {
			max-width: 50%;
			flex: 0 0 50%;
		}

		@include mobile {
			width: 100%;
			max-width: 100%;
			flex: 0 0 100%;
			padding-bottom: 2.1rem;
		}
	}
}

.service-alt--slider {
	.slick-slide {
		@include mobile {
			max-width: 32.5rem;
			width: 100%;
		}

		&:last-child .services__item {
			@include mobile {
				border-right: none;
			}
		}
	}

	.services__items {
		@include mobile {
			margin: 0 -2rem 0;
			border-top: 0.2rem solid $c-beige-1;
			border-bottom: 0.2rem solid $c-beige-1;
		}
	}

	.services__item {
		@include mobile {
			padding: 3.3rem 2rem;
			border-right: 0.2rem solid $c-beige-1;
		}
	}
}

.service-alt {
	background-color: $c-base;
	color: $white;

	.service__image {
		display: block;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		padding-bottom: 63%;
		transition: opacity 0.3s;

		@include mobile {
			padding-bottom: 67%;
		}
	}

	.service__title {
		margin-bottom: 0;

		@include mobile {
			font-size: 2.2rem;
		}
	}

	.service__content {
		padding: 3.3rem 2rem 2.9rem;

		@include mobile {
			padding: 2rem 1.5rem 3rem;
		}
	}

	.btn {
		margin-top: 5rem;

		@include mobile {
			margin-top: 2.5rem;
			font-size: 1.4rem;
		}
	}

	&:hover .service__image {
		opacity: 0.8;
	}
}

.service-alt--base {
	background-color: $c-beige-2;
	color: $c-base;

	.service__content {
		padding: 2.7rem 2rem;

		@include mobile {
			padding: 2.7rem 1.7rem 3.5rem;
		}
	}

	.service__title {
		@include mobile {
			font-size: 2.4rem;
		}
	}

	.service__image {
		@include mobile {
			padding-bottom: 67%;
		}
	}

	.service__entry {
		font-weight: 500;
		margin-top: 0.8rem;
		line-height: 1.38;

		@include mobile {
			font-size: 1.5rem;
			line-height: 1.4;
			margin-top: 1.1rem;
		}
	}

	.btn {
		margin-top: 3.6rem;
		padding: 0.7rem 2rem 0.8rem;

		@include mobile {
			margin-top: 3rem;
			padding: 0.7rem 2.5rem 0.8rem;
		}
	}
}
