/* ------------------------------------------------------------ *\
  Shell
\* ------------------------------------------------------------ */

.shell {
	max-width: $shell-max-width + $shell-gutter * 2;
	padding: 0 $shell-gutter;
	margin: 0 auto;
}

/* ------------------------------------------------------------ *\
  Shell Fluid
\* ------------------------------------------------------------ */

.shell--fluid {
	max-width: none;
}

/* ------------------------------------------------------------ *\
  Shell No Gutters
\* ------------------------------------------------------------ */

.shell--no-gutters {
	padding: 0;
}
