@font-face {
    font-family: 'Milestone';
    src: url('../fonts/milestonefreeversion-script-webfont.eot');
    src: url('../fonts/milestonefreeversion-script-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/milestonefreeversion-script-webfont.woff2') format('woff2'),
         url('../fonts/milestonefreeversion-script-webfont.woff') format('woff'),
         url('../fonts/milestonefreeversion-script-webfont.ttf') format('truetype'),
         url('../fonts/milestonefreeversion-script-webfont.svg#milestone_free_versionscript') format('svg');
    font-weight: normal;
    font-style: normal;
}
