/* ------------------------------------------------------------ *\
  Mixins
\* ------------------------------------------------------------ */

@mixin cf {
  &:after {
    content: '';
    display: table;
    clear: both;
    line-height: 0;
  }
}

@mixin bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin overlay {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background: #000;
    opacity: 0.5;
  }
}

@mixin hover {
  position: relative;
  padding-bottom: 1px;
  display: inline-block;
  color: $c-black;
  text-decoration: none;
  transition: 0.3s;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    display: inline-block;
    background: $c-black;
    transition: 0.3s;
  }

  @media (min-width: 1200px) {
    &:hover {
      text-decoration: none;
      color: $c-black;

      &:before {
        width: 100%;
      }
    }
  }
}

@mixin largest-desktop {
  @media (max-width: #{$breakpoint-largest-desktop}) {
    @content;
  }
}

@mixin large-desktop {
  @media (max-width: #{$breakpoint-large-desktop}) {
    @content;
  }
}

@mixin small-desktop {
  @media (max-width: #{$breakpoint-small-desktop}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (max-width: #{$breakpoint-tablet-portrait}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: #{$breakpoint-mobile-small}) {
    @content;
  }
}

@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}
